<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mijn Flask demo</title>
    <style>
        body {
            background-color: darkred;
        }
        h1, p {
            color: yellow;
        }
        p {
            font-size: 16pt;
        }
    </style>
</head>
<body>
    <h1>Wat weet je van ...</h1>
    <p>Dit is afgekeken van het programma "De Slimste Mens". Er worden vragen gesteld en het is de bedoeling dat je zoveel mogelijk relevante terfwoorden noemt.</p>
</body>
</html>