<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wat weet je van ...</title>
    <style>
        body {
            background-color: darkred;
        }
        h1 {
            color: yellow;
        }
        li {
            color: #770000;
        }
        p {
            font-size: 16pt;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 20;
        }
        li {
            padding: 16px;
            font-size: 16pt;
        }
        .guessed {
            color: yellow;
        }
    </style>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <script>
$(function(){
	$("#response").change(function(){
	    var url = "question/" + $("#id").val() + "/check?response=" + $("#response").val();
	    $("#response").val("")
		$.get(url, function(data){
		    console.debug(data)
		    var keyword = data["keyword"]
		    if (keyword != null) {
                $("#" + keyword).addClass("guessed");
            }
		})
	});
});
    </script>
</head>
<body>
    <input type="hidden" id="id" value="{{content['id']}}">

    <h1 id="question">{{content['question']}}</h1>

    <ul id="trefwoorden">
        {% for keyword in content['keywords'] %}
        <li id="{{keyword}}">{{keyword}}</li>
        {% endfor %}
    </ul>

    <input type="text" id="response" name="response">
</body>
</html>