<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secrets</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="secrets" id="secret">
        <div>
            <label>Secret name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Secret</label>
            <input type="text" name="secret">
        </div>
        <div>
            <label>Owner</label>
            <input type="text" name="owner">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
